<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


    <style type="text/css">
        .nav-bar-style {
            background-color: #fcfbfa;
            margin: 0px;
            z-index: 2;
            position: relative;
            top: 0;
            width: 100%;
            height: 86px;
        }

        .chat-bottom {
            position: absolute;
            bottom: 0;
            height: 100%;
            padding-top: 90px;
        }

        .scroll {
            position: relative;
            max-height: 80%;
            overflow: auto;
        }


        .message-box {
            padding: 10px 20px;
            margin: 5px 10px;
            display: inline-block;
            border-style: solid;
            border-width: 2px;
        }

        .incomming-msg {
            border-radius: 0px 15px 20px 15px;
            border-color: #e0e0e0
        }

        .outcomming-msg {
            border-radius: 15px 15px 0px 20px;
            border-color: #b2dfdb
        }

        .message-text {
            color: #616161 !important;
            text-align: left;
        }

        .send-button {
            display: block;
            max-width: 80%;
            max-height: 80%;
        }

        .back-button {
            color: #26a69a;
            font-size: 50px;
            font-weight: lighter;
        }

        .send-area {
            padding: 0px 20px;
        }

        .send-box {
            display: inline-block;
            border-style: solid;
            border-width: 2px;
            border-radius: 15px 0px 15px 20px;
            border-color: #b2dfdb
        }

        .input-separator {
            border-right-style: solid;
            border-right-width: 2px;
            border-right-color: #b2dfdb;
        }

        .input-area {
            border-bottom: none !important;
            box-shadow: none !important;
            margin-bottom: 3px !important;
            margin-top: 3px !important;
        }

        .container-message {
            margin-top: 50px;
        }

        .nav-bar-text {
            color: #8a8a8a;
            font-size: 25px;
        }

        .picture-box {
            border-radius: 25px;
            margin: 10px 0px;
        }

        .status-text {
            font-style: italic;
            font-size: 16px;
            color: #9e9e9e;
        }


    </style>
</head>
<body>


<div class="nav-bar-style card">
    <div class="row ">
        <div class="col s6">
            <span class="col s1 back-button">‹</span>
            <div class="col s2">
                <img class="responsive-img picture-box"
                     src="http://www.chesterfield-fc.co.uk/images/common/bg_player_profile_default_big.png">
            </div>
            <div class="col s9">
                <span class="col s12 nav-bar-text">Maria Pereira</span>
                <span class="col s12 status-text">Online</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="chat-bottom">
            <div id="messages" class="col s12 m10 offset-m1 scroll">
            </div>
            <div class="input-field col s12 m10 offset-m1">
                <form>
                    <input type="hidden" id="username" value="<%=username%>">
                    <div class="send-area">
                        <div class="col s12 send-box">
                            <div class="input-area input-separator col s10">
                                <input id="token" type="hidden" value="<%=token%>">
                                <input id="message" class="input-area" placeholder="Escreva mensagens gentis aqui..." id="first_name"
                                       type="text" class="validate">
                            </div>
                            <div class="col s2">
                                <button class="btn btn-large right">Enviar</button>
                                <!--<input class="send-button" type="image" src="public/paper-plane.svg"/>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

<script>



    var pathName = window.location.pathname.toString();
    var id = pathName.replace("/chat/", '');
    var token = $("#token").val();

    var socket = io(('/' + id)); //cliente
    socket.on('connect', function () {
        socket.emit('authenticate', {token: token.toString()}) //send the jwt
                .on('authenticated', function () {
                    //do other things
                })
                .on('unauthorized', function(msg) {
                    console.log("unauthorized: " + JSON.stringify(msg.data));
                    throw new Error(msg.data.type);
                })
    });


    $('form').submit(function(){                          // Quando o usuário clica no botão de enviar mensagem
        socket.emit('chat message', $('#message').val(), $('#username').val()); // emite o evento de envio de mensagem para o socket com o tipo de mensagem "chat message"
        $('#message').val('');                            // limpa o conteúdo da caixa de texto
        return false;
    });

    socket.on('chat message', function(msg, username){                    // Cliente ao receber um evento de chat message
        if(username == $("#username").val()){
            var m = "<div class=\"col s11 offset-s1 right-align\"> <div class=\"teal lighten-5 message-box outcomming-msg\"> "+ msg +" <span class=\"message-text\"></span></div></div>";
            $('#messages').append(m);// Ao receber uma mensagem atualiza a tela
        }
        else{
            var m = "<div class=\"col s11 left-align\"> <div class=\"grey lighten-3 message-box incomming-msg\"> "+ msg +" <span class=\"message-text\"></span></div></div>";
            $('#messages').append(m);// Ao receber uma mensagem atualiza a tela
        }

    });

</script>
</body>
</html>